<?xml version="1.0" encoding="utf-8"?>
<!-- 
     This configuration file is required if iisnode is used to run node processes behind
     IIS or IIS Express.  For more information, visit:

     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->

<configuration>
     <system.webServer>
          <!-- Visit http://blogs.msdn.com/b/windowsazure/archive/2013/11/14/introduction-to-websockets-on-windows-azure-web-sites.aspx for more information on WebSocket support -->
          <webSocket enabled="false" />
          
          <rewrite>
            <rewriteMaps>
                <rewriteMap name="LegacyPermalinkRedirects" defaultValue="">
                    <!-- Home -->
                    <add key="/" value="/" />
                    
                    <!-- Posts -->
                    <add key="time-for-a-real-change" value="/2013/07/Time-for-a-Real-Change" />
                    <add key="excited-about-webgl-because-of-grandia-ii" value="/2013/07/Excited-about-WebGL-because-of-Grandia-II" />
                    <add key="the-difference-between-apps-and-games" value="/2013/07/The-Difference-between-Apps-and-Games" />
                    <add key="picking-the-technology-for-my-game" value="/2013/08/Picking-The-Technology-for-my-Game" />
                    <add key="instant-eyedropper-the-colour-picker-tool-ive-been-missing" value="/2013/08/Instant-Eyedropper-The-Colour-Picker-Tool-I-ve-Been-Missing" />
                    <add key="html-gaming-for-core-gamers" value="/2013/09/HTML-Gaming-for-Core-Gamers" />
                    <add key="what-html-my-games-lack-immersive-experiences" value="/2013/09/What-HTML-My-Games-Lack-Immersive-Experiences" />
                    <add key="the-heisenberg-second-screen-experience-in-html" value="/2013/09/The-Heisenberg-Second-Screen-Experience-in-HTML" />
                    <add key="hover-a-next-gen-html-experience" value="/2013/10/Hover-A-Next-Gen-HTML-Experience" />
                    <add key="dw-on-tour" value="/2013/10/DW-on-Tour" />
                    <add key="pro-tip-office-365-to-simplify-communication" value="/2013/11/Pro-Tip-Office-365-to-Simplify-Communication" />
                    <add key="answering-the-question-when-will-ie-support-that-html-feature" value="/2014/04/Answering-the-question-When-will-IE-support-that-HTML-feature" />
                    <add key="build-2014-cool-stuff-day-1" value="/2014/04/BUILD-2014-Cool-Stuff-Day-1" />
                    <add key="stop-hating-ie-and-be-a-professional-part-1" value="/2013/01/Stop-Hating-IE-and-Be-a-Professional-Part-3" />
                    <add key="stop-hating-ie-and-be-a-professional-part-2" value="/2013/01/Stop-Hating-IE-and-Be-a-Professional-Part-2" />
                    <add key="stop-hating-ie-and-be-a-professional-part-3" value="/2013/01/Stop-Hating-IE-and-Be-a-Professional-Part-1" />
                    <add key="microsoft-mvp-year-four" value="/2014/04/Microsoft-IE-MVP-Year-Four" />
                    <add key="end-of-support-for-windows-xp-faq" value="/2014/04/End-of-Support-for-Windows-XP-FAQ" />
                    <add key="back-to-basics-the-text-editor-experiment" value="/2014/04/Back-to-Basics-The-Text-Editor" />
                    <add key="hypertext-gaming-starting-june-29" value="/2014/06/Hypertext-Gaming-Starting-June-29th-on-Twitch" />
                    <add key="whatcha-doin-dw" value="/2014/07/Whatcha-doin-DW" />
                    <add key="a-lesson-in-humility" value="/2014/08/A-Lesson-in-Humility" />
                    <add key="ie-on-reddit-highlight-reel" value="/2014/08/IE-on-Reddit-Highlight-Reel" />
                    <add key="why-do-i-javascript" value="/2014/09/Why-do-I-JavaScript" />
                    <add key="why-do-you-coffeescript-your-javascript" value="/2014/09/Why-do-you-CoffeeScript-your-JavaScript" />
                    <add key="why-do-you-requirejs" value="/2014/10/Why-do-you-RequireJS" />
                    <add key="mvp-case-study-the-network" value="/2014/09/The-MVP-Network-is-Awesome" />
                    <add key="nintendo-builds-rich-html5-experiences" value="/2014/10/Nintendo-Builds-Rich-HTML5-Experiences" />
                    <add key="what-is-bower" value="/2014/10/What-is-Bower" />
                    <add key="always-use-node" value="/2014/10/Always-Use-Node-Even-on-Non-Node-Projects" />
                    <add key="why-humble-mozilla-bundle-is-awesome" value="/2014/10/Why-the-Humble-Mozilla-Bundle-is-Awesome" />
                    <add key="humble-bundle-games-go-javascript" value="/2014/10/Humble-Bundle-Games-Go-JavaScript" />
                    <add key="installing-games-javascript-style" value="/2014/10/Installing-Games-JavaScript-Style" />
                    <add key="thatonevideogamer-brought-to-by-me" value="/2014/10/ThatOneVideoGamer-Brought-To-You-By-Me" />
                    <add key="simcity-in-the-browser-with-source-code" value="/2014/10/SimCity-in-the-Browser-with-Source-Code" />
                    <add key="remote-ie-no-more-testing-excuses" value="/2014/11/Remote-IE-No-More-Testing-Excuses" />
                    <add key="november-27-going-terminal-learning-to-be-ide-free" value="/2014/11/November-27-Going-Terminal-Learning-to-be-IDE-Free" />
                    <add key="can-asp-net-become-the-next-node-js" value="/2014/11/Can-ASP-NET-Become-the-Next-Node-JS" />
                    <add key="javascript-coding-is-gameplay-in-screeps" value="/2014/11/JavaScript-Coding-is-Gameplay-in-Screeps" />
                    <add key="think-before-you-tweet" value="/2014/11/Think-Before-You-Tweet-A-Lesson-in-Humility" />
                    <add key="ghost-0-5-x-from-source-to-azure-websites-on-canadian-developer-connection" value="/2014/12/Ghost-0-5-X-from-Source-to-Azure-Websites-on-Canadian-Developer-Connection" />
                    <add key="get-to-the-point-video-is-up" value="/2014/12/Get-to-the-Point-My-Pilot-Video" />
                    <add key="highlight-reel-for-2014" value="/2015/01/Highlight-Reel-for-2014" />
                    <add key="ie-err-spartan-makes-ign-news" value="/2015/01/IE-err-Spartan-Makes-IGN-News" />
                    <add key="make-new-habits-with-new-ie-vms-2015" value="/2015/01/Make-New-Habits-with-New-IE-VMs-in-the-New-Year" />
                    <add key="script-unscripted-starts-january-8th-2015" value="/2015/01/Script-Unscripted-Starts-January-8th" />
                    <add key="video-games-preventing-cancer-with-agdq" value="/2015/01/Video-Games-Preventing-Cancer-with-AGDQ" />
                    <add key="netfront-the-unknown-browser-everyone-owns" value="/2015/01/NetFront-the-Unknown-Browser-Everyone-Owns" />
                    <add key="make-an-html-gaming-app-for-twitch" value="/2015/02/Make-an-HTML-Gaming-App-for-Twitch-and-Overwolf" />
                    <add key="retrospective-the-youtube-experiment" value="/2015/02/Retrospective-The-YouTube-Experiment" />
                    <add key="traf-o-data-and-windows-nt-on-lgr-tech-tales" value="/2015/04/Traf-O-Data-and-Windows-NT-on-LGR-Tech-Tales" />
                    <add key="zany-video-game-quotes-live-and-in-the-cloud" value="/2015/04/Zany-Video-Game-Quotes-Live-and-in-the-Cloud" />
                    <add key="why-networking-is-critical" value="/2015/07/Why-Networking-is-Critical" />
                    <add key="msdevshow-a-dev-podcast-review" value="/2015/04/MSDevShow-A-Dev-Podcast-Review" />
                    <add key="living-on-the-microsoft-edge-on-may-5-and-6" value="/2015/05/Living-on-the-Microsoft-Edge-on-May-5-6" />
                    <add key="top-5-session-picks-mvp-virtual-confernce-2015" value="/2015/05/My-Top-5-Sessions-Picks-MVP-Virtual-Conference-2015" />
                    <add key="conference-recap-extravaganza" value="/2015/06/Conference-Recap-Extravaganza" />

                    <!-- Pages -->
                    <add key="talks" value="/talks" />
                    <add key="my-html5-toolbox" value="" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Redirect Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{LegacyPermalinkRedirects:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="https://blog.davidwesst.com{C:1}" appendQueryString="False" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Rule Trailing Slash" stopProcessing="true">
                    <match url="^(.+?)/?$" />
                    <conditions>
                        <add input="{LegacyPermalinkRedirects:{R:1}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="https://blog.davidwesst.com{C:1}" appendQueryString="False" redirectType="Permanent" />
                </rule>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
            </rules>
          </rewrite>

          <!-- bin directory has no special meaning in node.js and apps can be placed in it -->
          <security>
               <requestFiltering>
                    <hiddenSegments>
                         <remove segment="bin"/>
                    </hiddenSegments>
               </requestFiltering>
          </security>

          <!-- Make sure error responses are left untouched -->
          <httpErrors existingResponse="PassThrough" />

          <!--
               You can control how Node is hosted within IIS using the following options:
                 * watchedFiles: semi-colon separated list of files that will be watched for changes to restart the server
                 * node_env: will be propagated to node as NODE_ENV environment variable
                 * debuggingEnabled - controls whether the built-in debugger is enabled

               To debug your node.js application:
                 * set the debuggingEnabled option to "true"
                 * enable web sockets from the portal at https://manage.windowsazure.com/#Workspaces/WebsiteExtension/Website/davidwesst/configure
                 * browse to https://davidwesst.azurewebsites.net/app.js/debug/

               See https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config for a full list of options
          -->
          <iisnode watchedFiles="web.config;*.js" debuggingEnabled="true" />
     </system.webServer>
</configuration>