<section class="above-fold">
    <h3>Short Story</h3>
    <p>I'm an Open Web Platform (JavaScript/HTML/CSS) enthusiast working as an enterprise developer with a history of team leadership, user experience design, and business analysis; who is a wannabe game developer passionate about video games when I'm not being a parent.</p>
    <p><a href="#fullbio">Click here for the full story.</a></p>
</section>
<section id="fullbio" class="below-fold">
    <p>David Wesst, otherwise known as "Wessty" or "DW", is a JavaScript enthusiast who works as an entreprise software developer by day, and attempts to build video game related things by night.</p>
    <p>After earning his Bachelor of Computer Science (B.C.Sc.), David has continued in software development focusing primarily on rich web experience development and design. Although a fluent developer with a firm grasp of the open web platform, David's strength lies in his strong communication skills and his ability to gather and translate requirements between both technical and business-centric teams.</p>
    <p>DW's passion for software development goes beyond the workplace, and into the community. In his hometown of Winnipeg, Manitoba, he has served on the Winnipeg .NET User Group for the past many years. His contributions to the development community locally, and beyond, resulted in being awarded the Microsoft MVP Award in the area of Front End Web Dev for the past 6 years running.</p>
</section>
