<section class="above-fold">
    <article>
        <h3>Short Story</h3>
        <p>I'm an Open Web Platform (JavaScript/HTML/CSS) enthusiast working as an enterprise developer; who is a wannabe game developer passionate about video games when I'm not busy being a parent.</p>
        <p><a href="#fullbio">Click here</a> for the full story.</p>
        <p>Or <a href="#cv">jump ahead</a> to my technical skills, if you're more interested in that.</p>
    </article>
</section>
<section id="fullbio" class="below-fold">
    <article>
        <h3>The Full Story</h3>
        <p>
            David Wesst, otherwise known as "Wessty" or "DW", is a JavaScript enthusiast who works as an enterprise software developer by day, and attempts to build video game related things by night.
        </p>
        <p>
            After earning his Bachelor of Computer Science (B.C.Sc.), David has continued in software development focusing primarily on rich web experience development and design. Although a fluent developer with a firm grasp of the open web platform, David's strength lies in his strong communication skills and his ability to gather and translate requirements between both technical and business-centric teams.
        </p>
    </article>
</section>
<section class="below-fold">
    <article>
        <h4>Outside the office...</h4>
        <p>
            DW's passion for software development goes beyond the workplace and into the community. In his hometown of Winnipeg, Manitoba, he has served on the Winnipeg .NET User Group since 2010. His contributions to the development community locally, and beyond, have resulted in being awarded the Microsoft MVP Award in the area of Front End Web Dev for the past 6 years running.
        </p>
    </article>
</section>
<section id="cv" class="below-fold cv">
    <article>
        <h3>CV</h3>
        <p>To get a full breakdown of my experience and skills, head over to my <a href="http://ca.linkedin.com/in/davidwesst" target="_blank">LinkedIn Page</a>.
        </p>
    </article>
    <article>
        <h4>Skills</h4>
        <ul>
            <li>Requirements Gathering</li>
            <li>Technical and Business Communication</li>
            <li>Project Planning and Coordination</li>
            <li>Team Leadership</li>
            <li>Software Testing and Quality Assurance</li>
            <li>Public Speaking</li>
        </ul>
        <i class="fa fa-trophy fa-4x" aria-hidden="true"></i>
    </article>
</section>
<section class="below-fold cv">
    <article>
        <h4>Languages</h4>
        <ul>
            <li>JavaScript / NodeJS, TypeScript, CoffeeScript</li>
            <li>CSS, SASS, LESS</li>
            <li>HTML</li>
            <li>C#, ASP.NET</li>
            <li>Java</li>
            <li>PL/SQL, T-SQL</li>
        </ul>
        <i class="fa fa-code fa-4x" aria-hidden="true"></i>
    </article>
    <article>
        <h4>Tools</h4>
        <ul>
            <li>Visual Studio, Visual Studio Code, Eclipse</li>
            <li>PL/SQL Developer, SQL Server Management Studio</li>
            <li>Git, SVN, Team Foundation Version Control, CVS</li>
            <li>Github, Gitlab, BitBucket, Jira, Visual Studio Team Services</li>
        </ul>
        <i class="fa fa-wrench fa-4x" aria-hidden="true"></i>
    </article>
</section>
