<section class="above-fold">
    <h2>Social Places</h2>
    <a href="https://twitter.com/davidwesst" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
    <a href="https://github.com/davidwesst" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>GitHub</a>
    <a href="http://ca.linkedin.com/in/davidwesst" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>LinkedIn</a>
    <a href="https://www.youtube.com/user/davidwesst" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i>YouTube</a>
    <a href="https://twitch.tv/davidwesst" target="_blank"><i class="fa fa-twitch" aria-hidden="true"></i>Twitch</a>
</section>