<section class="above-fold">
    <h2>
       My Name is David Wesst. This is my website. 
    </h2>
    <p>By day, I translate technology and software development to business and business back to technology; all the while coding up solutions with the Open Web. By night, I am a wannabe game developer when I'm not playing games or parenting.</p>
    <p>I am a <a href="http://www.westerndevs.com/bios/david_wesst/">Western Dev</a> where I blog and talk with a bunch of smart people. I'm also a Front End Web Dev <a href="https://mvp.microsoft.com/en-us/PublicProfile/4032619?fullName=David%20%20Wesst">Microsoft MVP</a></p>
    <p>Keep <a href="#faq">scrolling</a> for FAQ, or head to my <a href="/about">about me</a> page for the full scoop about me.</p>
</section>
<section class="below-fold">
    <h3 id="faq">FAQ</h3>
    <article>
        <h4>How do I contact you?</h4>
        <p><a href="https://twitter.com/davidwesst">Twitter</a> is probably the best bet.</p>
    </article>
    <article>
        <h4>Where did your blog go?</h4>
        <p>Nowhere, I just added this website. You can still find my blog <a href="https://blog.davidwesst.com">here</a>.</p>
    </article>
    <article>
        <h4>Where are your slides from your talk?</h4>
        <p>Most of them are on my <a rel="external" href="https://blog.davidwesst.com/talks/">blog</a> but will eventually find their way to the main site here, so be warned.</p>
    </article>
    <article>
        <h4>What makes <em>you</em> special?</h4>
        <p>Plenty. But don't take it from me, I'm biased.</p>
        <p>The <a href="http://www.westerndevs.com/bios/david_wesst/" target="_blank">Western Devs</a> let me join their ranks, and I have been awarded the <a href="https://mvp.microsoft.com/en-us/PublicProfile/4032619?fullName=David%20%20Wesst" target="_blank">Microsoft MVP Award</a> for the past six years. That says something.</p>
    </article>
    <article>
        <h4>You spelled your name wrong.</h4>
        <p>That <em>is</em> actually how you spell my name. It's not wrong, I promise.</p>
        <p>That was more of a statement rather than a question, but thank you all the same.</p>
    </article>
</section>