@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceCodePro-Regular';
    src: url('../fonts/sourcecodepro-regular-webfont.eot');
    src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$amber: rgba(255, 191, 0, 1);
$darkAmber: rgba(255, 121, 0, 1);
$green: rgba(0,255,0,1);
$subtleGreen: rgba(0,180,0,1);
$darkGreen: rgba(0,80,0,1);
$black: rgba(20,20,20,1);
$grey: rgba(50,50,50,1);
$white: rgba(220,220,220,1);

$youtube-red: rgba(205,32,31,1);
$twitch-purple: rgba(100,65,165,1);
$twitter-blue: rgba(64,153,255,1);
$linkedin-blue: rgba(0,118,181,1);

$featureFont: 'SourceCodePro-Regular';
$regularFont: 'OpenSans-Regular';
$medium: 1.5em;
$large: 2em;
$small: 0.75em;

$shortAnimation: 300ms;

@media all {
    /*
        Mixins
    */
    .bg-onstage {
        background-image: url('/img/bg-stage.jpg');
        background-position: 75% 20%;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    html, body {
        font-family: $regularFont;
        color: $white;
    }
    
    body {
        @extend .bg-onstage;
    }
    
    h1, h2, h3 {
        color: $green;
    }
    
    h4, h5, h6 {
        color: $subtleGreen;
    }
    
    header.site {
        font-family: $featureFont;
        color: $green;
        background-color: $black;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        padding: 0 0.25em;
        
        h1 {
            margin-left: 0.5em;
            font-size: $medium;
        }
        
        .nav-toggle {
            font-size: $medium;
            margin-right: 0.5em;
            transition: transform $shortAnimation ease-in;
            
            &.open {
                transform: rotate(90deg);
            }
        }
        
        nav {
            display: flex;
            flex-direction: column;
            position: fixed;
            background-color: $black;
            font-size: 1.25em;
            width: 100%;
            top: 3em;
            left: 0;
            max-height: 0px;
            transition: max-height $shortAnimation ease-in;
            overflow: hidden;
            
            &.show-nav {
                max-height: 500px;
            }
            
            .social-links {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            
            a {
                color: $green;
                text-decoration: none;
                width: 100%;
                text-align: center;
                
                &.small {
                    font-size: $small;
                }
                
                &:visited {
                    color: $darkGreen;
                }
                
                &:hover {
                    color: $amber;
                }
            }
        }
    }
       
    #content {
        transition: transform $shortAnimation ease-out, opacity 300ms ease-out;
        padding: 0 0.5em 0 0.5em;
        
        section > article {
            background-color: $grey;
            margin: 0 0.25em;
            padding: 0 0.5em 1em 0.5em;
            
            p {
                margin: 1em 0.5em 0 0.5em;
                text-align: justify;
            }
            
            a {
                color: $amber;
                text-decoration: none;
                
                &:hover {
                    color: $darkAmber;
                }
            }
            
            p:first-of-type {
                margin-top: 0em;
            }
            
            p:last-child {
                margin-bottom: 0.5em;
            }
        }
        
        &.transition {
            transform: translateY(25px);
            opacity: 0;
        }
        
        .above-fold, .below-fold {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
        }
        
        .link-banner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-self: center;
            
            a { 
                background-color: $black;
                color: $white;
                cursor: pointer;
                font-size: $medium;
                padding: 0.5em 1em;
                text-align: center;
                width: 100%;
                
                &.github {
                    background-color: $black;
                }
                
                &.linkedin {
                    background-color: $linkedin-blue;
                }
                
                &.twitch {
                    background-color: $twitch-purple;
                }
                
                &.twitter {
                    background-color: $twitter-blue;
                }
                
                &.youtube {
                    background-color: $youtube-red;
                }
            }
        }
        
        .cv {
            p:first-of-type {
                width: 100%;
            }         
            
            article {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                
                h4 {
                    width: 100%;
                }
                
                fa {
                    width: 40%;
                }
                
                ul {
                    width: 60%;
                }
            }
        }
    }
}