@media (min-width: 737px) {    // larger than iPhone 6+
    body {
        display: flex;
        flex-direction: row;
    }
    
    header.site {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 20%;
        
        h1 {
            text-align: center;
        }
            
        .nav-toggle {
            display: none;
        }
        
        nav, nav.show-nav {
            width: auto;
            display: flex;
            flex-direction: column;
            
            a {
                text-align: left;
            }
        }
    }
    
    #content {
        width: 100%;
        padding-left: 25%;
    }
}

