@media (min-width: 736px) {
    .item {
        max-width: 70%;
        margin-bottom: 2em;
        
        span {
            font-size: 3.5em;
        }
    }
    
    .links .item {
        max-width: inherit;
        span {
            font-size: 3.0em;
        }
    }
}

