@media (min-width: 737px) {    // larger than iPhone 6+
    .item {
        max-width: 80%;
        margin-bottom: 2em;
        
        span {
            font-size: 3.5em;
        }
    }
    
    .links .item {
        max-width: inherit;
        span {
            font-size: 3.0em;
        }
    }
    
    header.name span {
        font-size: 5em;
        margin-bottom: 2em;
    }
}

