//@media (max-width : 544px) {
    $topHeight: 2em;
    
    html, body {
        height: 100%;
    }

    header.site {
        @extend .title;
        
        display: flex;
        position: absolute;
        top: 0;
        height: $topHeight;
        width: 100%;
        background-color: rgb(255, 0, 0);
    }
    
    .main {
        display: flex;
        flex-direction: column;
        height: 100%;

        background-color: rgb(0, 255, 0);
        
        .item:first-child {
            margin-top: $topHeight;
        }
    }
    
    .links {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0px;
        right: 0px;
        
        background-color: rgb(0, 255, 255);
        
        ul, ul > li{
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: right;
        }
    }

///}