//@media (max-width : 544px) {
    $top-pad: 5.5em;
    $white: rgb(250, 250, 250);
    $black: rgb(69,72,77);
    
    $twitter-blue: rgba(85, 172, 238, 1.0);
    $youtube-red: rgba(229, 45, 39, 1.0);
    $rss-orange: rgba(238, 128, 47, 1.0);
    
    
    html, body {
        height: 100%;
    }

    header.site {
        @extend .title;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0.25em 0;
        
        color: rgba(0, 255, 0, 0.8);
        font-weight: bold;
        font-size: 2em;
        
        border-bottom: 1px solid $white;
        
        background: rgb(69,72,77);
        background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
    }
    
    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: rgba(0,0,0,1.0);
        
        .item:first-child {
            margin-top: $top-pad;
        }
    }
    
    .item {
        margin-bottom: 1em;
        
        span {
            color: #fefefe;
            background-color: $black;
            font-size: 1.75em;
            text-transform: uppercase;
        }
        
        a {
            text-decoration: none;
            color: $white;
        }
        
        a:hover {
            text-decoration: underline;
        }
        
        i {
            margin: 0.25em 0.25em;
        }
        
        i.fa-external-link {
            color: rgba(250, 250, 250, 0.5);
            font-size: 0.75em;
        }
    }
    
    .links {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0px;
        right: 0px;
        
        ul, ul > li{
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: right;
        }
        
        .item {
            margin-bottom: 1em;
            
            span {
                font-size: 1.5em;
            }
        }
        
        .twitter {
            @extend .title;
            background-color: $twitter-blue;
        }
        
        .youtube {
            @extend .title;
            background-color: $youtube-red;
        }
        
        .blog {
            @extend .title;
            background-color: $rss-orange;
        }
        
        .github {
            @extend .title;
        }
    }

///}